
{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
			<h2 style="text-align: center; padding: 5px"> Hello {{user}},</h2>
		<h3 style="text-align: center" > please fill the form  </h3>

			<form action="" method="POST">
				{% csrf_token %}

				{% for field in form%}
				<p><table>
				{{field}}

			 {{field.label}} </table> </p>

                 {%endfor%}


				<input type="submit" value="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}